/* You can add global styles to this file, and also import other style files */
@import "https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css";
html {
	height: 100%;
}
body {
	height: 100%;
	display: flex;
	margin: 0;
	padding: 0;
	font-family: 'Cascadia Code', sans-serif;
	justify-content: center;
}
* {
	font-family: 'Roboto', sans-serif;
}
